<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除</title>
</head>
<body>
<form action="" method="post">
    <table border="1">
        <tr>
            <td>id</td>
            <td>title</td>
            <td>pub</td>
            <td>price</td>
            <td>m_price</td>
        </tr>
        <tr>
            <td>{{ dbook.id }}</td>
            <td>{{ dbook.title }}</td>
            <td>{{ dbook.pub }}</td>
            <td>{{ dbook.price }}</td>
            <td>{{ dbook.market_price }}</td>
        </tr>
    </table>
    <div><input type="submit" value="确认删除"></div>
</form>

</body>
</html>