<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/shebao" method='POST'>
    <div>
    <label for="id_base">请输入基数</label><input type="input" name="base" id="id_base">
    </div>
    <div>
    <label>请选择户口</label>
    <select name="is_city">
    <option value ="1">城镇户口</option>
    <option value ="0">农村户口<option></select>
    </div>
    <input type="submit" value="开始计算">
</form>
<div>
    {% load static %}
    <img src="{% static 'image/123.jpg' %}" alt="">
</div>
</body>
</html>